attrs==16.2.0
cffi==1.8.3
cryptography==1.5.2
cssselect==0.9.2
idna==2.1
lxml==4.6.3
parsel==1.0.3
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.16
PyDispatcher==2.0.5
pyOpenSSL==17.5.0
queuelib==1.4.2
Scrapy==1.2.0
service-identity==16.0.0
six==1.10.0
Twisted==22.1.0
w3lib==1.15.0
zope.interface==4.3.2
neo4j-driver


